body{

	margin:auto;
	padding-top: 100px;
	width:300px;
	background-color:#D2D2D2;

}

#search{

	padding: 2px 5px;
	width: 200px;
	height: 22px;
	border: 1px solid #AAA;
}

#search:hover, #search:focus{

	border-color: #777;
}

#results {
	display : none;
	width: 230px;
	border: 1px solid #AAA;
	border-top-width:0;
	background-color : #FFF;
}

#results div {
	width:200px;
	padding: 2px 5px;
	text-align:left;
	border: 0;
	background-color: #FFF;
}

#results div:hover, .result_focus{

	background-color: #DDD !important ; 
}